extends ../layout/main-layout.pug
block content
    main 
        .flip-card
            .flip-card-inner
                .flip-card-front
                    img(src='user1.png' alt='Avatar' style='width:300px;height:300px;')
                .flip-card-back
                    h1 John Doe
                    p Architect &amp; Engineer
                    p We love that guy
