extends layout/main-layout.pug
block content
    main 
        .grid
            if usrsnms.length > 0 
                each users in usrsnms
                     article.card.user-names
                        header.card__header
                            h1 User Name: #{users.username}
                        div.card__content
                            h1 THANKS YOU.
                            //- h2.user_namefirst First name
                            //- p.user__description user desctription
                        div.card__actions
                            button.btn okay!!    
            else 
                h1 NO USERS CURRENTLY 
    
        
                        
