@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    box-sizing: border-box;
  }
  .form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.form-control input {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus {
    outline-color: #00695c;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 0;
    margin: 0;
    align-content: center;
}

.main-header{
    width: 100%;
    height: 3.5rem;
    background-color: rgba(121, 242, 103, 0.619);
    padding: 0 1.5rem;
}
.main-header_ItemList{
    margin: 0 1rem;
    padding: auto;
    align-content: center;
}
.main-header_list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.main-header_nav{
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.main-header_ItemList a {
    text-decoration: none;
    color: rgb(26, 148, 201);
}
.main-header__ItemList a:hover,
.main-header__ItemList a:active,
.main-header__ItemList a.active {
    color: #1eb42b;
}


.userform {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    align-items: stretch;
    border: 3px black;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border: 3px black;
    border-radius: 3px;
    text-align: left;

}

.card__header,
.card__content {
  padding: 2px 16px;
  margin: 0 1.5rem;
  width: max-content;
  border: 3px black;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
  
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}
button{
    font: inherit;
    border: 2px solid #3e00a1;
    color: #3e00a1;
    background: white;
    border-radius: scale;
    cursor: pointer;
}
button:hover,
button:active {
    background-color: #3e00a1;
    color: white;
}
image{
    height: 5px;
    width: 5px;
}

