doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/css/style2.css")
        link(rel="stylesheet", href="/css/flip_card.css")
        block styles
    body
        header.main-header
            nav.main-header_nav
                ul.main-header_list
                    li.main-header_ItemList
                        a(href='/') User
                    li.main-header_ItemList 
                        a.active(href='/admin/add-user') Add User
                    li.main-header_ItemList 
                        a.active(href='/admin/edit-user') Edit User
    block content 